/*
 * Constants -> Colors
 */
/*
 * Constants -> Layout
 */
/*
 * Common
 */
html,
body,
div,
section,
p,
ul,
li,
h1,
h2,
h3,
h4,
h4,
h5,
h6,
figure,
pre,
code {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
/*
 * Aside
 */
#main-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background: #333333;
  color: #FFFFFF;
}
#main-logo {
  padding: 30px 50px;
}
#main-logo a {
  color: #FFFFFF;
  text-decoration: none;
}
#project-info {
  padding: 0 50px;
  color: #CCCCCC;
  line-height: 1.2em;
}
#sidebar-badges {
  padding: 20px 50px;
}
#sidebar-badges a {
  float: left;
  margin-right: 10px;
}
#main-navigation {
  padding-left: 50px;
}
#main-navigation ul,
#main-navigation li {
  list-style: none;
  list-style-image: none;
}
#main-navigation a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}
#main-navigation a:hover {
  color: #EFEFEF;
}
#main-navigation a,
#main-navigation h4 {
  padding: 5px 0;
}
#main-navigation ul li ul {
  padding-left: 30px;
}
/*
 * Main Content
 */
#main-content {
  margin-left: 450px;
  max-width: 1000px;
}
/*
 * Article Header
 */
#article-header nav {
  height: 50px;
  position: relative;
  margin-bottom: 10px;
}
#article-header nav ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#article-header nav ul,
#article-header nav ul li {
  list-style: none none;
}
#article-header nav ul li {
  float: left;
}
#article-header nav ul li + li::before {
  content: '/';
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#article-header nav a {
  text-decoration: none;
}
#article-header .article-title {
  margin-bottom: 1em;
}
/*
 * Article
 */
.article p,
.article ul,
.article figure {
  margin-bottom: 1em;
}
.article ul,
.article ul li {
  list-style-position: inside;
  line-height: 1.5em;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h4,
.article h5,
.article h6 {
  margin-bottom: 0.5em;
  margin-top: 2em;
  border-bottom: 2px solid #EFEFEF;
  padding-bottom: 5px;
}
.article p {
  line-height: 1.5em;
}
.article code {
  background: #EFEFEF;
  padding: 0.2em 0.3em;
}
/*
 * Article Footer
 */
#article-footer {
  border-top: 2px solid #DDDDDD;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#article-footer a {
  float: right;
  color: #666666;
  text-decoration: underline;
}
#article-footer a:hover {
  color: #AAAAAA;
  text-decoration: none;
}
