@use "../../global/constants";

@mixin styles {
    .main-header {
        height: constants.$main-header-primary-height + 2 * constants.$main-header-secondary-height;
    }

    .scheduler-caption,
    .scheduler-toolbar {
        flex: 0 0 50%;
    }

    .scheduler-caption {
        padding-right: constants.$loading-image-width/2;
    }

    .scheduler-toolbar {
        padding-left: constants.$loading-image-width/2;
    }

    .scheduler-header .toolbar {
        margin-right: 5px;
    }
}