@font-face {
	font-family: "Flaticon";
	src: url("CrystalQuartzPanel.axd?path=Fonts.flaticon.eot");
	src: url("CrystalQuartzPanel.axd?path=Fonts.flaticon.eot#iefix") format("embedded-opentype"),
	url("CrystalQuartzPanel.axd?path=Fonts.flaticon.woff") format("woff"),
	url("CrystalQuartzPanel.axd?path=Fonts.flaticon.ttf") format("truetype"),
	url("CrystalQuartzPanel.axd?path=Fonts.flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-refresh:before {
	content: "\e000";
}

.flaticon-minus:before {
	content: "\e001";
}

.flaticon-pause:before {
	content: "\e002";
}

.flaticon-play:before {
	content: "\e003";
}

.flaticon-plusbefore {
	content: "\e004";
}

.flaticon-power:before {
	content: "\e005";
}

.flaticon-remove:before {
	content: "\e006";
}
