<header id="mainHeader" class="navbar navbar-static-top cq-main-header">
    <div class="container">
        <a href='/'>&larr; return to the site</a>
        <div id="mainLogo">
            <h1><a href='CrystalQuartzPanel.axd'>CrystalQuartz Panel</a></h1>
        </div>    
    </div>
</header>

<section id="mainContent" class="container">
    <section id="schedulerPropertiesContainer"></section>
    <section id='jobsContainer'></section>
</section>

<div id="dialogs"></div>

<footer id="mainFooter"></footer>