<section class="cq-job-details">
    <div class="row">
        <div class="col-md-6">
            <section class="cq-job-details-panel">
                <table class="properties">
                    <thead>
                        <tr>
                            <th class="cq-job-details-panel-title" colspan="2">Job properties</th>
                        </tr>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>    
            </section>
        </div>

        <div class="col-md-6">
            <section class="cq-job-details-panel">
                <table class="dataMap">
                    <thead>
                        <tr>
                            <th class="cq-job-details-panel-title" colspan="3">Job data map</th>
                        </tr>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </div>
    </div>
    
</section>