<article class="cq-job">
    <header class="cq-job-header">
        <div class="statusContainer"></div>
        
        <a class="cq-job-header-title loadDetails title" href="#"></a>
        
        <section class="actions">
            <a href="#" class="pause">Pause</a>
            <a href="#" class="resume">Resume</a>
        </section>
    </header>
    
    <section class="detailsContainer"></section>

    <table class="cq-triggers triggers">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Previous fire date</th>
                <th>Next fire date</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</article>