<div class='container'>
    <div class="row">
        <div class='col-sm-12 col-md-2'>
            <a id="startSchedulerButton" class='cq-button' href="#">
                <span class="cq-icon flaticon-play"></span> Start scheduler
            </a>

            <a id="stopSchedulerButton" class='cq-button' href="#">
                <span class="cq-icon flaticon-power"></span> Shutdown
            </a>

            <a id="refreshData" class='cq-button' href="#">
                <span class="cq-icon flaticon-refresh"></span> Refresh
            </a>
        </div>

        <div class='col-sm-12 col-md-5'>
            <table class="cq-info-table">
                <thead>
                    <tr>
                        <th colspan="2">Statistics</th>
                    </tr>
                </thead>
                <tr>
                    <th>Running since:</th>
                    <td class="runningSince"></td>
                </tr>
                <tr>
                    <th>Total Jobs:</th>
                    <td class="totalJobs"></td>
                </tr>
                <tr>
                    <th>Executed Jobs:</th>
                    <td class="executedJobs"></td>
                </tr>
            </table>
        </div>

        <div class='col-sm-12 col-md-5'>
            <table class="cq-info-table">
                <thead>
                    <tr>
                        <th colspan="2">Properties</th>
                    </tr>
                </thead>
                <tr>
                    <th>Name:</th>
                    <td class="schedulerName"></td>
                </tr>
                <tr>
                    <th>Instance ID:</th>
                    <td class="instanceId"></td>
                </tr>
                <tr>
                    <th>Is remote:</th>
                    <td class="isRemote"></td>
                </tr>
                <tr>
                    <th>Scheduler type:</th>
                    <td class="schedulerType"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
