<div id='schedulerProperties' class='simplePanel'>
    <h2>
        <span class="schedulerName"></span>

        <span class='status'>
            <span class='$data.Status.ToString().ToLower()' title='Status: $data.Status'></span>
        </span>
    </h2>

    <div class='primary'>
        <div class='schedulerInfoPanel'>
            <h4>Statistics</h4>
            <table>
                <tr>
                    <th>Running since:</th>
                    <td class="runningSince"></td>
                </tr>
                <tr>
                    <th>Total Jobs:</th>
                    <td class="totalJobs"></td>
                </tr>
                <tr>
                    <th>Executed Jobs:</th>
                    <td class="executedJobs"></td>
                </tr>
            </table>        
        </div>
					
        <div>
            #if($data.CanStart)
            <div style='margin: 0 0 10px 0;'>Scheduler not started!</div>
            #end
            <div>
                #if($data.CanStart)
                <a class='buttonLink' href="CrystalQuartzPanel.axd?command=scheduler-start">
                    <img alt='' src='CrystalQuartzPanel.axd?file=CrystalQuartz.Web.Content.Images.start.png&type=png' />
                    Start scheduler
                </a>
                #end
                #if ($data.CanShutdown)
                <a class='buttonLink' 
                   href="CrystalQuartzPanel.axd?command=scheduler-stop"
                   onclick="return confirm('Are you sure you want to shutdown scheduler?')">
                    <img alt='' src='CrystalQuartzPanel.axd?file=CrystalQuartz.Web.Content.Images.shutdown.png&type=png' />
                    Shutdown
                </a>
                #end
            </div>
        </div>
					
    </div>

	<div class='secondary'>
		<div class='schedulerInfoPanel'>
			<h4>Properties</h4>
			<table>
				<tr>
					<th>Name:</th>
					<td class="schedulerName"></td>
				</tr>
				<tr>
					<th>Instance ID:</th>
					<td class="instanceId"></td>
				</tr>
				<tr>
					<th>Is remote:</th>
					<td class="isRemote"></td>
				</tr>
				<tr>
					<th>Scheduler type:</th>
					<td class="schedulerType"></td>
				</tr>
			</table>        
		</div>
	</div>
</div>