/* Constants -> size */
/* Constants -> colors */
/* Common styles */
body {
    background: #F8F8F8;
}

html,
body {
    height: 100%;
}
/* Aside */
.main-aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    background: #333333;
}

    .main-aside ul,
    .main-aside ul li {
        margin: 0;
        padding: 0;
    }

    .main-aside ul {
        margin-top: 50px;
        border-top: 1px solid #444444;
    }

        .main-aside ul li {
            color: #FFFFFF;
            height: 100px;
            border-bottom: 1px solid #444444;
            position: relative;
        }

            .main-aside ul li .aside-value-title {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 60px;
                font-size: 11px;
                color: #AAAAAA;
                display: block;
                text-align: center;
                line-height: 1;
            }

            .main-aside ul li .aside-value {
                display: block;
                text-align: center;
                font-size: 18px;
                padding-top: 35px;
                line-height: 50px;
            }

                .main-aside ul li .aside-value span {
                    font-size: 12px;
                }

            .main-aside ul li .highlight {
                animation: valueHighlight 1s ease;
            }
/* Common (Header and Content) */
.data-header-item,
.data-item {
    width: 16.667%;
    float: left;
    border-right: 1px solid #CCCCCC;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
    text-align: left;
}

    .data-header-item:last-child,
    .data-item:last-child {
        border-right: none;
    }
/* Header */
.main-header {
    position: fixed;
    top: 0;
    left: 70px;
    right: 0;
    height: 50px;
}

@keyframes buttonHighlight {
    from {
        background-color: #555555;
    }

    to {
        background-color: #5CB85C;
    }
}

@keyframes valueHighlight {
    0% {
        color: #FFFFFF;
    }

    25% {
        color: #E5D45B;
    }

    100% {
        color: #FFFFFF;
    }
}
/* Header -> Scheduler Header */
.scheduler-header {
    background: #666666;
    color: #FFFFFF;
    height: 30px;
}

.scheduler-caption {
    width: 25%;
    float: left;
}

    .scheduler-caption h1 {
        padding: 0 0 0 30px;
        margin: 0;
        font-size: 18px;
        line-height: 30px;
    }

    .scheduler-caption .status {
        margin-top: 5px;
    }

.scheduler-toolbar {
    width: 25%;
    float: left;
}

    .scheduler-toolbar ul {
        margin: 5px 0 0 0;
        float: right;
        padding: 0;
    }

    .scheduler-toolbar li {
        float: left;
    }

        .scheduler-toolbar li a {
            background: #555555;
            float: left;
            width: 100px;
            height: 20px;
            line-height: 20px;
            margin-left: 5px;
            text-align: center;
            font-size: 12px;
            text-decoration: none;
            color: #DDDDDD;
        }

            .scheduler-toolbar li a.highlight {
                background: #5CB85C;
                color: #FFFFFF;
                animation: buttonHighlight 1s linear;
            }

                .scheduler-toolbar li a.highlight:hover {
                    background: #38C049;
                }

            .scheduler-toolbar li a:hover {
                color: #FFFFFF;
                background: #444444;
                text-decoration: none;
            }

.progress-indicator {
    width: 50%;
    float: left;
    display: none;
    margin-top: 3px;
    height: 24px;
}

    .progress-indicator div {
        width: 200px;
        margin: 0 auto;
    }

    .progress-indicator img,
    .progress-indicator p {
        float: left;
    }

    .progress-indicator img {
        margin-left: 5px;
    }

    .progress-indicator p {
        display: inline;
        color: #FFFFFF;
        font-size: 10px;
        line-height: 24px;
        margin-left: 3px;
    }

.data-header {
    width: 100%;
    overflow: hidden;
    background: #AAAAAA;
}

    .data-header .primary-data {
        width: 50%;
        float: left;
        border-bottom-color: #666666;
        border-right-color: #AAAAAA;
    }

    .data-header .ticks-container {
        width: 50%;
        float: left;
        border-bottom: 1px solid #AAAAAA;
        background: #F4F4F4;
    }

    .data-header .data-container {
        border-right: none;
    }

    .data-header .data-header-item {
        color: #FFFFFF;
        border-right-color: #666666;
    }

.timeline-tick:hover {
    background: #E9E9E9;
}
/* Content */
.main-container {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.scrollable-area {
    background: #FFFFFF;
    position: relative;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 19px;
    border-bottom: 1px solid #DDDDDD;
}

.data-row {
    width: 100%;
    overflow: hidden;
}

    .data-row .actions a {
        display: block;
        height: 100%;
        text-align: center;
    }

.primary-data {
    width: 50%;
    height: 20px;
    border-right: 1px solid #DDDDDD;
    float: left;
}

.timeline-data {
    width: 50%;
    height: 20px;
    float: left;
    position: relative;
    border-bottom: 1px dashed #DDDDDD;
}

.data-container {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #DDDDDD;
}

.status {
    width: 20px;
    height: 20px;
    float: left;
}

.actions {
    width: 20px;
    height: 100%;
    float: right;
}
/* Content -> Activity Status */
.cq-activity-status {
    float: left;
    margin: 5px 0 0 10px;
}

    .cq-activity-status .cq-activity-status-primary,
    .cq-activity-status .cq-activity-status-secondary {
        float: left;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -webkit-border-radius: 5px;
        transition: background 1s, width 1s, border-radius 1s;
    }

    .cq-activity-status .cq-activity-status-secondary {
        width: 0;
    }

    .cq-activity-status.active .cq-activity-status-primary {
        background: #38C049;
    }

    .cq-activity-status.paused .cq-activity-status-primary {
        background: #E5D45B;
    }

    .cq-activity-status.complete .cq-activity-status-primary {
        background: #CCCCCC;
    }

    .cq-activity-status.mixed .cq-activity-status-secondary {
        display: block;
        width: 5px;
        background: #E5D45B;
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
    }

    .cq-activity-status.mixed .cq-activity-status-primary {
        width: 5px;
        background: #38C049;
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -ms-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
    }
/* Job Group */
.data-row-job-group .primary-data {
    border-right-color: #666666;
}

.data-row-job-group .primary-data {
    background: #666666;
}

.data-row-job-group .data-container {
    border-color: #444444;
}

    .data-row-job-group .data-container .data-group {
        color: #FFFFFF;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        padding: 0 10px;
    }

.data-row-job-group .actions a {
    color: #CCCCCC;
}

    .data-row-job-group .actions a:hover {
        color: #FFFFFF;
        background: #444444;
    }
/* Job */
.data-row-job .primary-data {
    border-bottom: 1px solid #DDDDDD;
    background: #E9E9E9;
}

.data-row-job .data-container {
    border-right-color: #CCCCCC;
}

    .data-row-job .data-container .data-group {
        font-size: 12px;
        padding: 0 10px;
        line-height: 20px;
    }

.data-row-job .actions a {
    color: #666666;
}

    .data-row-job .actions a:hover {
        color: #333333;
        background: #CCCCCC;
    }
/* Trigger */
.data-row-trigger .primary-data {
    border-bottom: 1px solid #DDDDDD;
}

.data-row-trigger .actions a {
    color: #666666;
    /*background: #FFFFFF;*/
}

    .data-row-trigger .actions a:hover {
        color: #333333;
        background: #DDDDDD;
    }

.data-row-trigger:hover {
    background: #E0EFF6;
}

.data-row-trigger.last .primary-data {
    border-bottom: none;
}

.data-row-trigger.very-last .primary-data,
.data-row-trigger.very-last .timeline-data {
    border-bottom: none;
}
/* Content -> Timeline */
.timeline-tick {
    float: left;
    width: 16.6667%;
    height: 19px;
    color: #333333;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    position: relative;
}

    .timeline-tick span::before {
        content: '';
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        left: 0;
        bottom: 0;
        border-right: 1px solid #AAAAAA;
    }

.timeline-grid {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
}

.timeline-grid-item {
    float: left;
    position: relative;
    width: 16.6667%;
    height: 100%;
}

    .timeline-grid-item .major,
    .timeline-grid-item .minor {
        border-right: 1px dashed #DDDDDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .timeline-grid-item .major {
        right: 0;
        left: 50%;
    }

    .timeline-grid-item .minor {
        left: 0;
        right: 50%;
    }

    .timeline-grid-item.active {
        background: #E0EFF6;
    }

        .timeline-grid-item.active .minor {
            border-right: 1px dashed #058dc7;
        }

    .timeline-grid-item div {
        float: left;
        height: 100%;
        width: 50%;
        border-right: 1px dashed #DDDDDD;
    }

.timeline-item {
    position: absolute;
    top: 3px;
    height: 14px;
    background: #5CB85C;
}
/*
.timeline-data:last-child {
	border-bottom: 1px solid #DDDDDD;
}*/
/* Footer */
.main-footer {
    position: fixed;
    left: 70px;
    right: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    background: #EEEEEE;
    border-top: 1px solid #DDDDDD;
    color: #666666;
    padding: 0 10px;
    font-size: 11px;
}

    .main-footer .cq-version-container {
        float: left;
        margin-right: 20px;
    }

    .main-footer .cq-version {
        font-weight: bold;
    }
/*
 * Layers (z-indexes)
 */
.main-aside {
    z-index: 1000;
}

.main-footer,
.main-header {
    z-index: 2000;
}
/*
  * Responsiveness
  */
@media (max-width: 1000px) {
    .main-header {
        height: 70px;
    }

    .scheduler-caption,
    .scheduler-toolbar {
        width: 50%;
    }

    .scheduler-caption {
        padding-right: 12px;
    }

    .scheduler-toolbar {
        padding-left: 12px;
    }

    .progress-indicator {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 24px;
    }

        .progress-indicator img {
            margin: 0;
        }

        .progress-indicator div {
            width: 24px;
            margin-left: -12px;
        }

        .progress-indicator p {
            display: none;
        }

    .scrollable-area {
        margin-top: 70px;
    }

    .timeline-grid {
        left: 0;
    }

        .timeline-grid .timeline-grid-item {
            border: none;
        }

            .timeline-grid .timeline-grid-item div {
                border: none;
            }

    .scheduler-header .toolbar {
        margin-right: 5px;
    }

    .data-header .primary-data,
    .data-header .ticks-container,
    .data-row .primary-data {
        width: 100%;
        float: none;
        position: relative;
        overflow: hidden;
    }

    .timeline-data {
        width: 100%;
        float: none;
        border-bottom-style: solid;
    }

    .data-row-trigger.last .primary-data,
    .data-row-trigger.very-last .primary-data {
        border-bottom: 1px solid #DDDDDD;
    }

    .data-row-trigger.last .timeline-data,
    .data-row-trigger.very-last .timeline-data {
        border-bottom: none;
    }

    .timeline-data-filler {
        display: none;
    }

    .ticks-container {
        left: 0;
    }
}