<div class="data-row data-row-job-group">
    <section class="primary-data">
        <div class="status"></div>

        <section class="actions dropdown pull-right" style="width: 20px; height: 100%; float: right">
            <a href="#" class="cq-actions-toggle dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="cq-with-icon"><a href="#" class="pause" title=""><span class="flaticon-pause"></span>Pause all jobs</a></li>
                <li class="cq-with-icon"><a href="#" class="resume" title=""><span class="flaticon-play"></span>Resume all jobs</a></li>
                <li role="separator" class="divider"></li>
                <li class="cq-with-icon"><a href="#" class="delete" title=""><span class="flaticon-remove"></span>Delete all jobs</a></li>
            </ul>
        </section>

        <div class="data-container">
            <section class="data-group name"></section>
        </div>
    </section>

    <section class="timeline-data timeline-data-filler"></section>
</div>


<!--<div style="width: 100%; height: 20px; overflow: hidden;">-->
<!--    <article class="cq-job-group" style="width: 50%; float: left;">-->
<!--        -->
<!---->
<!--$1$        <header class="cq-job-group-header">#1#-->
<!--            -->
<!---->
<!--        <div style="padding-right: 20px;">-->
<!--            <span class="status"></span>-->
<!--            -->
<!--        </div>-->
<!---->
<!--$1$        </header>#1#-->
<!--    </article>-->
<!--    <div style="background: yellow; width: 50%; height: 100%; float: left;"></div>-->
<!--</div>-->

<section class="children"></section>