<article class="cq-job">
    <header class="cq-job-header clearfix">
        <div class="status"></div>
        
        <a class="cq-job-header-title loadDetails name" href="#"></a>
        <a class="cq-job-hide-details hideDetails" href="#">hide details</a>
        
        <section class="actions">
            <a href="#" class="execute cq-button">Execute Now</a>
            <a href="#" class="pause cq-button flaticon-pause" title="Pause all triggers"></a>
            <a href="#" class="resume cq-button flaticon-play" title="Resume all triggers"></a>
        </section>
    </header>
    
    <section class="detailsContainer"></section>

    <table class="cq-triggers triggers">
        <thead>
            <tr>
                <th>Trigger</th>
                <th>Schedule</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Previous fire date</th>
                <th>Next fire date</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</article>