<div style="width: 100%; height: 20px; overflow: hidden;">
    <div style="width: 50%; float: left">
        <div class="status"></div>

        <a class="cq-job-header-title loadDetails name" href="#"></a>
        <a class="cq-job-hide-details hideDetails" href="#">hide details</a>

        <section class="actions dropdown pull-right">
            <a href="#" class="cq-actions-toggle dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="cq-with-icon"><a href="#" class="pause" title=""><span class="flaticon-pause"></span>Pause all triggers</a></li>
                <li class="cq-with-icon"><a href="#" class="resume" title=""><span class="flaticon-play"></span>Resume all triggers</a></li>

                <li role="separator" class="divider"></li>
                <li class="cq-with-icon"><a href="#" class="delete" title=""><span class="flaticon-remove"></span>Delete job</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="#" class="execute">Execute Now</a></li>
                <li><a href="#" class="addTrigger">Add Trigger</a></li>
            </ul>
        </section>
    </div>
    <div style="width: 50%; float: left; background: yellow; height: 100%;"></div>
</div>

<section class="triggers"></section>

<!--<article class="cq-job">-->
<!--    <header class="cq-job-header clearfix">-->
<!--        -->
<!--    </header>-->
<!--    -->
<!--    <section class="detailsContainer"></section>-->
<!--    -->
<!--    -->
<!---->
<!--$1$    <table class="cq-triggers triggers">#1#-->
<!--$1$        <thead>#1#-->
<!--$1$        <tr>#1#-->
<!--$1$            <th>Trigger</th>#1#-->
<!--$1$            <th>Schedule</th>#1#-->
<!--$1$            <th>Start date</th>#1#-->
<!--$1$            <th>End date</th>#1#-->
<!--$1$            <th>Previous fire date</th>#1#-->
<!--$1$            <th class="cq-pre-actions">Next fire date</th>#1#-->
<!--$1$            <th></th>#1#-->
<!--$1$        </tr>#1#-->
<!--$1$        </thead>#1#-->
<!--$1$        <tbody></tbody>#1#-->
<!--$1$    </table>#1#-->
<!--</article>-->
<!---->
<!--$1$<article class="cq-job">#1#-->
<!--$1$    <header class="cq-job-header clearfix">#1#-->
<!--$1$        <div class="status"></div>#1#-->
<!--$1$#1#-->
<!--$1$        <a class="cq-job-header-title loadDetails name" href="#"></a>#1#-->
<!--$1$        <a class="cq-job-hide-details hideDetails" href="#">hide details</a>#1#-->
<!--$1$#1#-->
<!--$1$        <section class="actions dropdown pull-right">#1#-->
<!--$1$            <a href="#" class="cq-actions-toggle dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>#1#-->
<!--$1$            <ul class="dropdown-menu">#1#-->
<!--$1$                <li class="cq-with-icon"><a href="#" class="pause" title=""><span class="flaticon-pause"></span>Pause all triggers</a></li>#1#-->
<!--$1$                <li class="cq-with-icon"><a href="#" class="resume" title=""><span class="flaticon-play"></span>Resume all triggers</a></li>#1#-->
<!--$1$#1#-->
<!--$1$                <li role="separator" class="divider"></li>#1#-->
<!--$1$                <li class="cq-with-icon"><a href="#" class="delete" title=""><span class="flaticon-remove"></span>Delete job</a></li>#1#-->
<!--$1$#1#-->
<!--$1$                <li role="separator" class="divider"></li>#1#-->
<!--$1$                <li><a href="#" class="execute">Execute Now</a></li>#1#-->
<!--$1$                <li><a href="#" class="addTrigger">Add Trigger</a></li>#1#-->
<!--$1$            </ul>#1#-->
<!--$1$        </section>#1#-->
<!--$1$    </header>#1#-->
<!--$1$#1#-->
<!--$1$    <section class="detailsContainer"></section>#1#-->
<!--$1$#1#-->
<!--$1$    <table class="cq-triggers triggers">#1#-->
<!--$1$        <thead>#1#-->
<!--$1$            <tr>#1#-->
<!--$1$                <th>Trigger</th>#1#-->
<!--$1$                <th>Schedule</th>#1#-->
<!--$1$                <th>Start date</th>#1#-->
<!--$1$                <th>End date</th>#1#-->
<!--$1$                <th>Previous fire date</th>#1#-->
<!--$1$                <th class="cq-pre-actions">Next fire date</th>#1#-->
<!--$1$                <th></th>#1#-->
<!--$1$            </tr>#1#-->
<!--$1$        </thead>#1#-->
<!--$1$        <tbody></tbody>#1#-->
<!--$1$    </table>#1#-->
<!--$1$</article>#1#-->