<div class="data-row data-row-trigger">
    <section class="primary-data">
        <div class="status"></div>
        <div class="actions">
            <a href="#"><span class="caret"></span></a>
        </div>

        <div class="data-container">
            <section class="data-item name">Trigger 1</section>
            <section class="data-item type"></section>
            <section class="data-item startDate"></section>
            <section class="data-item endDate"></section>
            <section class="data-item previousFireDate"></section>
            <section class="data-item nextFireDate"></section>
        </div>
    </section>
    <section class="timeline-data">
        <div class="timeline-item" style="left: 50%; width: 10%;"></div>
    </section>
</div>

<!--<div style="width: 100%; height: 20px; overflow: hidden;">-->
<!--    <div style="width: 50%; float: left;">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="col-sm-2">-->
<!--                    <span class="status"></span>-->
<!--                    <span class="name"></span>-->
<!--                </td>-->
<!--                <td class="col-sm-2 type"></td>-->
<!--                <td class="col-sm-2 startDate"></td>-->
<!--                <td class="col-sm-2 endDate"></td>-->
<!--                <td class="col-sm-2 previousFireDate"></td>-->
<!--                <td class="col-sm-2 nextFireDate cq-pre-actions"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!---->
<!--    <div style="width: 50%; float: left; background: yellowgreen; height: 100%;"></div>-->
<!--</div>-->

<!--<section>-->
    
<!--    <td class="cq-trigger-actions">-->
<!--        <section class="actions dropdown pull-right">-->
<!--            <a href="#" class="cq-actions-toggle dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>-->
<!--            <ul class="dropdown-menu">-->
<!--                <li class="cq-with-icon"><a href="#" class="pause" title=""><span class="flaticon-pause"></span>Pause trigger</a></li>-->
<!--                <li class="cq-with-icon"><a href="#" class="resume" title=""><span class="flaticon-play"></span>Resume trigger</a></li>-->
<!---->
<!--                <li role="separator" class="divider"></li>-->
<!--                <li class="cq-with-icon"><a href="#" class="delete" title=""><span class="flaticon-remove"></span>Delete trigger</a></li>-->
<!--            </ul>-->
<!--        </section>-->
<!--    </td>-->
<!--</section>-->