<tr>
    <td>
        <span class="status"></span>
        <span class="name"></span>
    </td>
    <td class="type"></td>
    <td class="startDate"></td>
    <td class="endDate"></td>
    <td class="previousFireDate"></td>
    <td class="nextFireDate"></td>
    <td class="">
        <section class="actions">
            <a href="#" class="pause cq-button flaticon-pause" title="Pause Trigger"></a>
            <a href="#" class="resume cq-button flaticon-play" title="Resume Trigger"></a>
            <a href="#" class="delete cq-button flaticon-minus" title="Remove Trigger"></a>    
        </section>
    </td>
</tr>