@import "../global/constants";

ul.notifications,
ul.notifications li {
  list-style-type: none;
  list-style-image: none;
}

.notifications {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: $main-footer-height + 20;
  left: $aside-width + 20;
  width: 500px;

  li {
    opacity: 0;
    margin-bottom: -110px;

    transition: opacity 0.5s, margin-bottom 0.5s;
    margin-top: 20px;

    a {
      display: block;
      background: #cb4437;
      padding: 20px;
      color: #FFFFFF;
      font-size: 18px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      height: 90px;
      text-decoration: none !important;
      border-radius: 12px;
    }

    a:hover {
      background: darken(#cb4437, 10%)
    }
  }

  li.visible {
    opacity: 1;
    margin-bottom: 0;
  }

  li.hiding {
    opacity: 0;
  }
}
