@aside-value-height-ratio: 0.4;

@aside-dashbord-height: 100px;
@aside-value-height: @aside-dashbord-height * @aside-value-height-ratio;
@aside-vertical-space: (@aside-dashbord-height - @aside-value-height) / 2;

.main-aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: @aside-width;
    background: #333333;

    ul, ul li {
        margin: 0;
        padding: 0;
    }

    ul {
        margin-top: @main-header-primary-height + @main-header-secondary-height;
        border-top: 1px solid #444444;
    }

    ul li {
        color: #FFFFFF;
        height: @aside-dashbord-height;
        border-bottom: 1px solid #444444;
        position: relative;
        overflow: hidden;

        .aside-value-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: @aside-dashbord-height - @aside-vertical-space;
            font-size: 11px;
            color: #AAAAAA;
            display: block;
            text-align: center;
            line-height: 1;
        }

        .aside-value {
            display: block;
            text-align: center;
            font-size: 24px;
            margin-top: @aside-vertical-space;
            line-height: @aside-value-height;
            height: @aside-value-height;
        }

        .value-measurement-unit {
            font-size: 12px;
            display: block;
            text-align: center;
        }

        .highlight {
            animation: valueHighlight 1s ease;
        }
    }
}
