.object-browser {
    ul,
    ul li {
        list-style-type: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }

    .property-title,
    .property-value {
        float: left;
        width: 50%;

        font-size: 12px;
        border-bottom: 1px solid #DDDDDD;

        padding-top: 5px;
        padding-bottom: 5px;
    }

    .property-title {
        background: #F8F8F8;
        border-right: 1px solid #DDDDDD;
    }

    .property-value {
        padding-left: 15px;
        padding-right: 15px;
    }
}