/*
 * Common
 */

.cq-date .cq-none {
    color: #CCCCCC;
}

.cq-button {
    color: #444444;

    display: block;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
    border: 1px solid #cccccc;

    padding: 7px;

    border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;

    font-size: 13px;
    font-weight: bold;

    text-decoration: none;

    margin-bottom: 10px;
}

.cq-button .cq-icon {
    font-size: 14px;
    margin: 0 5px;
    float: left;
}

.cq-button:hover {
    text-decoration: none;
    background: #e9e9e9;
}

/* Scheduler status */

.cq-scheduler-status {
    
}

.empty,
.ready,
.started,
.shutdown
{
	float:left;
	height:10px;
	width:10px;
    margin-top: 18px;

    transition: background 1s;

	border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-webkit-border-radius:50%;
}

.empty 
{
	background: #ffffff;
}

.ready 
{
	background: #E5D45B;
}

.started 
{
	background: #38C049;
}

.shutdown
{
	background: #ffffff;
}

/* Activity status */

.cq-activity-status {
    float:left;
    margin-right: 5px;
}

.cq-activity-status .cq-activity-status-primary,
.cq-activity-status .cq-activity-status-secondary {
    float:left;
	height:10px;
	width:10px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;

    transition: background 1s, width 1s, border-radius 1s;
}

.cq-activity-status .cq-activity-status-secondary {
    width: 0;
}

.cq-activity-status.active .cq-activity-status-primary {
    background: #38C049;
}

.cq-activity-status.paused .cq-activity-status-primary {
    background: #E5D45B;
}

.cq-activity-status.complete .cq-activity-status-primary {
    background: #CCCCCC;
}

.cq-activity-status.mixed .cq-activity-status-secondary {
    display: block;
}

.cq-activity-status.mixed .cq-activity-status-primary {
    width: 5px;
    background: #38C049;

    border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

.cq-activity-status.mixed .cq-activity-status-secondary {
    width: 5px;
    background: #E5D45B;

    border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}

/* Data values */

span.string
{
	color: #A31515;
}

span.boolean
{
	color: #0000FF;
}

span.runtimetype
{
	background: url("CrystalQuartzPanel.axd?path=Images.type.png") no-repeat scroll 0 0 #FFFFFF;
	color: #2B91AF;
	height: 40px;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-top: 2px;
}

/*
 * Main Header
 */

.cq-main-header {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #666666;
    color: #FFFFFF;
}

.cq-main-header-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #333333;
}

.cq-header-item
{
    height: 48px;
}

.cq-scheduler-name {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
}

.cq-main-header .cq-leave-link {
    float: right;
    color: #EEEEEE;
    line-height: 48px;
}

.cq-scheduler-properties {
    background: #f8f8f8;
    padding: 20px 0 0;
    border-bottom: 1px solid #CCCCCC;
}

.cq-info-table {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    background: #e9e9e9;
    width: 100%;
    margin-bottom: 20px;
}

.cq-info-table thead tr th {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background: #e9e9e9;
}

.cq-info-table th {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    background: #f8f8f8;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: left;
}

.cq-info-table tr td {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 3px 10px;
    font-size: 12px;
    background: #FFFFFF;
}

/*
 * Main Header -> Busy Indicator
 */

.cq-busy {
    font-size: 11px;
    margin-top: 3px;
}

.cq-busy-image,
.cq-current-command {
    text-align: center;
}

/*
 * Main Container
 */

.cq-main-content {
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 0;
    overflow: auto;
}

/*
 * Job Group
 */

.cq-job-group-header {
    background: #666666;
    color: #FFFFFF;
    padding-left: 10px;
}

.cq-job-group-header-title {
    font-size: 20px;
    font-weight: normal;
    padding: 5px 10px;
}

/*
 * Job 
 */

.cq-job {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    margin-bottom: 15px;
}

.cq-job-header {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    background: #e9e9e9;
    padding-left: 10px;
}

.cq-job-header-title {
    font-size: 18px;
    padding: 7px 10px;
    font-weight: normal;
    margin: 0;
    color: #666666;
}

.cq-job-header-title:hover {
    color: #666666;
}

/*
 * Job Details
 */

.cq-job-details {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.cq-job-details-panel {
    margin: 10px;
}

.cq-job-details-panel-title {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 10px 0;
    border-bottom: 1px solid #CCCCCC;
    padding: 0;
}

.cq-job-details-panel TABLE {
    width: 100%;
    font-size: 12px;
}

.cq-job-details-panel TABLE TR TH,
.cq-job-details-panel TABLE TR TD {
    border-bottom: 1px solid #DDDDDD;
    padding: 3px;
    text-align: left;
}

.cq-job-details-panel TABLE THEAD TR TH,
.cq-job-details-panel TABLE THEAD TR TD {
    border-bottom: 1px solid #CCCCCC;
}

/*
 * Trigger data table
 */

.cq-triggers {
    width: 100%;
}

.cq-triggers thead th {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    
    background: #f8f8f8;
    
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: left;
}

.cq-triggers tbody tr td {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 3px 10px;
    font-size: 12px;
}

/*
 * Main footer
 */

.cq-main-footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.cq-main-footer .cq-footer-wrapper {
    border-top: 1px solid #CCCCCC;
    padding-top: 5px;
    color: #666666;
    font-size: 12px;
}