<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rosalia" version="0.2.0.15" targetFramework="net40" />
  <package id="Rosalia.Core" version="0.2.0.15" targetFramework="net40" />
  <package id="Rosalia.TaskLib.MsBuild" version="0.2.0.15" targetFramework="net40" />
  <package id="Rosalia.TaskLib.NuGet" version="0.2.0.15" targetFramework="net40" />
</packages>