<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.TextTemplating" version="1.0.0" targetFramework="net45" />
  <package id="Nustache" version="1.13.8.22" targetFramework="net45" />
  <package id="Rosalia" version="2.6.16" targetFramework="net40" />
  <package id="Rosalia.Core" version="2.6.16" targetFramework="net40" />
  <package id="Rosalia.TaskLib.AssemblyInfo" version="2.6.16" targetFramework="net45" />
  <package id="Rosalia.TaskLib.MsBuild" version="2.6.16" targetFramework="net40" />
  <package id="Rosalia.TaskLib.NuGet" version="2.6.16" targetFramework="net40" />
  <package id="Microsoft.TypeScript.Compiler" version="1.5" />
  <package id="Mono.TextTransform" version="1.0.0" />
</packages>