<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.10" targetFramework="net452" />
  <package id="Mono.TextTemplating" version="1.0.0" targetFramework="net452" />
  <package id="Mono.TextTransform" version="1.0.0" targetFramework="net452" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net452" />
  <package id="Nustache" version="1.13.8.22" targetFramework="net452" />
  <package id="Rosalia" version="2.6.31" targetFramework="net452" />
  <package id="Rosalia.Core" version="2.6.31" targetFramework="net452" />
  <package id="Rosalia.TaskLib.AssemblyInfo" version="2.6.30" targetFramework="net452" />
  <package id="Rosalia.TaskLib.MsBuild" version="2.6.30" targetFramework="net452" />
  <package id="Rosalia.TaskLib.NuGet" version="2.6.30" targetFramework="net452" />
</packages>