<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net35" requireReinstallation="true" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net35" requireReinstallation="true" />
  <package id="NUnit" version="3.2.1" targetFramework="net35" requireReinstallation="true" />
  <package id="Quartz" version="2.3.3" targetFramework="net35" requireReinstallation="true" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net35" />
</packages>