<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="CrystalQuartz.Remote" version="7.0.0.7-beta" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Quartz" version="2.6.2" targetFramework="net40" />
</packages>