<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net461" />
  <package id="Quartz" version="2.6.2" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>