<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="crystalQuartz" type="CrystalQuartz.Web.Configuration.CrystalQuartzConfigurationGroup">
            <section name="provider" type="CrystalQuartz.Web.Configuration.ProviderSectionHandler" requirePermission="false" allowDefinition="Everywhere" />
            <section name="options" type="CrystalQuartz.Web.Configuration.CrystalQuartzOptionsSection" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
    </configSections>
    <crystalQuartz>
        <provider>
            <add property="Type" value="CrystalQuartz.Web.Demo.FakeProvider, CrystalQuartz.Web.Demo" />
        </provider>
        <!--    <provider>-->
        <!--      <add property="Type" value="CrystalQuartz.Spring.SpringSchedulerProvider, CrystalQuartz.Spring" />-->
        <!--      <add property="SchedulerName" value="scheduler" />-->
        <!--    </provider>-->
    </crystalQuartz>
    <appSettings />
    <connectionStrings />
    <system.web>
        <compilation debug="true" targetFramework="4.0"></compilation>
        <authentication mode="Windows" />
        <httpHandlers>
            <add verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" validate="false" />
        </httpHandlers>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="CrystalQuartzPanel" verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" />
        </handlers>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>