<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
    <p>Redirecting to the panel...</p>

    <a id="redirectLink" href="quartz">force redirect</a>
    @* <script> *@
    @*     setTimeout(function () { *@
    @*         window.location.href = document.getElementById('redirectLink').href; *@
    @*     }, 30000); *@
    @* </script> *@
</body>
</html>